// FONTS
$font-family: 'Rubik', sans-serif;

$font-size-smaller: 14px;
$font-size-normal: 16px;
$font-size-larger: 18px;
$font-size-x-large: 24px;
$font-size-xx-large: 28px;
$font-size-largest: 36px;

$font-color: #434344;

$font-bold: 700;

// COLORS
$color-background: #f1f7ff;
$color-foreground: #95b7f1;
$color-dark: #95b7f1;
$color-white: #fff;
$color-black: #000;
$color-active: #ffd15c;
$color-primary: #ff4c60;
$color-secondary: #ffd15c;
$color-info: #00bcd4;
$color-critical: #ff4c60;

$color-location: #998686;

// FONT COLORS
$font-light: #fff;
$font-dark: #000;
